@{
    ViewData["Title"] = "Admin Page";

}

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Vlozit" asp-action="Index">Vložit knihu</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="SpravaZaku" asp-action="Index">Zobrazit žáky</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="SpravaKnih" asp-action="Index">Zobrazit knihy</a>

</div>