@{
    ViewData["Title"] = "Admin Page";

}

<div class="text-center">
    <h1 class="display-4"> this is admin page</h1> @ViewBag.userName
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Knihy</a>
        </li>
    </ul>
</div>