@{
    ViewData["Title"] = "Admin Page";

}

<div class="text-center">
    <h1 class="display-4"> this is admin page</h1> @ViewBag.userName    
            <a class="nav-link text-dark" asp-area="" asp-controller="Vlozit" asp-action="Index">Vložit knihy</a>
        
</div>