@model MaturitniCetba.Models.AutorModel

<h4>Vložit autora:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProcessAutor">
            <div asp-validation-summary="ModelOnly" class="text-danger">Jméno autora:</div>
            <div class="form-group">
                <label asp-for="Jmeno" class="control-label"></label>
                <input asp-for="Jmeno" class="form-control" required />
                <span asp-validation-for="Jmeno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Vložit autora" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    @if (ViewBag.Vlozeno == 1)
    {
        <h5> Vložení úspěšné </h5>
    }
    @if (ViewBag.Vlozeno == -1)
    {
        <h5 style="color:red;"> Autor již existuje nebo jste zadali neplatnou hodnotu! </h5>
    }
</div>
    <div>
        <a asp-action="Index">Back</a>
    </div>

