@model IEnumerable<MaturitniCetba.Models.KnihaModel>

<p>
    <a asp-action="Create">Vybrané knihy:</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazev)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazev)
            </td>
            
        </tr>
}
    </tbody>
</table>
