@{
    ViewData["Title"] = "Home Page - ";

}


<h1 class="display-4">This is žákův home page</h1>

<div>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ChoosingBooks">Vybrat knihy</a>
        </li>
    </ul>
</div>



