@model IEnumerable<MaturitniCetba.Models.KnihaModel>

<p class="btn-block">
    <a asp-action="Index" asp-controller="VybratKnihy">Vybrat novou povinnou četbu</a>
</p>
<h5>
    <a>Vaše vybrané knihy:</a>
</h5>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazev) ( @Html.DisplayFor(modelItem => item.AutorJmeno) )
            </td>
            
        </tr>
}
    </tbody>
</table>
