@model IEnumerable<MaturitniCetba.Models.KnihaModel>


<style>

</style>

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutorJmeno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popis)
            </td>
        </tr>
}
    </tbody>
</table>
